---
import Card from '../Card.astro'
---

<Card colSpan="md:col-span-1" rowSpan="md:row-span-6" title="About me">
  <div class="flex flex-col gap-2">
    <p class="text-sm font-light">
      Hi, Aditya Mishra, a Business Enthusiast, engineer and problem solver by passion
      <br />
      <br />
      My primary tools of choice includes:
      <ul class="list-inside list-disc">
        <li>JavaScript</li>
      
        
        <li>Python</li>
        
        
        
        
      </ul>
    </p>
    <p class="text-sm font-light">
       My curiosity extends beyond business and technology into the worlds of creative design and innovation. I am passionate about travel and love discovering new cultures and perspectives, which often spark fresh ideas for my work.I love gardening too.
    </p>
  </div>
</Card>
